SECRET_KEY=replace-with-your-secret-key
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost
SITE_URL=http://127.0.0.1:8000

KHALTI_API_SECRET_KEY=replace-with-your-khalti-secret-key
KHALTI_INITIATE_URL=https://a.khalti.com/api/v2/epayment/initiate/
KHALTI_LOOKUP_URL=https://a.khalti.com/api/v2/epayment/lookup/

EMAIL_HOST_USER=replace-with-your-gmail-address
EMAIL_HOST_PASSWORD=replace-with-your-gmail-app-password

RESERVATION_WINDOW_TIME=5

CELERY_BROKER_URL=redis://localhost:6379/0